.App {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  font-family: Quicksand, "Segoe UI", "Roboto", "Oxygen", "Ubuntu";
}

table {
  margin: 50px auto;
  border: 1px solid #222222;
}

table td {
  /* border: 1px solid #222222; */
  padding: 10px;
  text-align: center;
  font-size: 18px;
  width: 50px;
  height: 50px;
}
